body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* tránh cuộn trang */
}
.container {
    display: flex;
    height: 100vh;
}
.left-panel {
    flex: 1;
    position: relative;
    background-color: #f9f9f9;
}
/* Canvas chiếm 100% kích thước của left-panel */
canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    cursor: grab;
}
.right-panel {
    width: 270px;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.right-panel h2 {
    margin-top: 0;
}
.right-panel h4 {
    margin-bottom: 0;
}
.control-group {
    margin-top: 30px;
}
.control-group button {
    margin: 5px;
    padding: 5px 10px;
    width: 100px;
}

/* Overlay upload file */
.overlay {
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.upload-area {
    border: 2px dashed #aaa;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.upload-area:hover {
    background-color: #f0f0f0;
    border-color: black;
}

#playersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#playersTable th,
#playersTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#playersTable th {
    background-color: #ddd;
    font-weight: bold;
}

#playersTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.footer-links {
    margin-top: auto;
    text-align: center;
}

.footer-links a {
    display: inline-block;
    margin: 20px;
}

.footer-icon {
    width: 30px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.1);
}
